icon-plain
	+flex(center)
	color: currentColor

	& .view-button
		font-size: 12px
		padding-left: $base-spacing

	& .view-default
		font-size: 14px

	& .view-manual
		color: rgba($c-primary, 0.5)

	& .view-infeasible
		color: rgba($c-warning, 0.5)

	& .view-sidebar
		color: rgba($c-inactive, 0.5)
